[Unit]
Description=Webhook Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=__BINARY_DIR__
ExecStart=__BINARY_DIR__/gitwh
Restart=on-abort

[Install]
WantedBy=multiuser.target